<a href="https://colab.research.google.com/github/Venkat185/EXCEL-Dashboard/blob/main/Copy_of_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/loan_data.xlsx")

In [ ]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001722,Male,Yes,0,Graduate,No,150,1800.0,135.0,360.0,1.0,Rural,N
1,LP002502,Female,Yes,2,Not Graduate,NaN,210,2917.0,98.0,360.0,1.0,Semiurban,Y
2,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
3,LP002603,Female,No,0,Graduate,No,645,3683.0,113.0,480.0,1.0,Rural,Y
4,LP001644,NaN,Yes,0,Graduate,Yes,674,5296.0,168.0,360.0,1.0,Rural,Y

In [ ]:
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP001640,Male,Yes,0,Graduate,Yes,39147,4750.0,120.0,360.0,1.0,Semiurban,Y
610,LP001536,Male,Yes,3+,Graduate,No,39999,0.0,600.0,180.0,0.0,Semiurban,Y
611,LP001585,NaN,Yes,3+,Graduate,No,51763,0.0,700.0,300.0,1.0,Urban,Y
612,LP002101,Male,Yes,0,Graduate,NaN,63337,0.0,490.0,180.0,1.0,Urban,Y
613,LP002317,Male,Yes,3+,Graduate,No,81000,0.0,360.0,360.0,0.0,Rural,N

In [ ]:
df.shape

(614, 13)

In [ ]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [ ]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

# **Data Selection**

In [ ]:
df.loc[0:1,"Loan_ID" : "Gender"]

    Loan_ID  Gender
0  LP001722    Male
1  LP002502  Female

In [ ]:
df.iloc[0:2, 0:3]

    Loan_ID  Gender Married
0  LP001722    Male     Yes
1  LP002502  Female     Yes

# **Handling null values**
df.dropna() -> To drop all the rows which has null values.

df.fillna(0) -> To fill all the rows which has null values.

In [ ]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# Data Type conversion

In [ ]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [ ]:
df["ApplicantIncome"] = df['ApplicantIncome'].astype("float")

In [ ]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001722,Male,Yes,0,Graduate,No,150.0,1800.0,135.0,360.0,1.0,Rural,N
1,LP002502,Female,Yes,2,Not Graduate,NaN,210.0,2917.0,98.0,360.0,1.0,Semiurban,Y
2,LP002949,Female,No,3+,Graduate,NaN,416.0,41667.0,350.0,180.0,NaN,Urban,N
3,LP002603,Female,No,0,Graduate,No,645.0,3683.0,113.0,480.0,1.0,Rural,Y
4,LP001644,NaN,Yes,0,Graduate,Yes,674.0,5296.0,168.0,360.0,1.0,Rural,Y

# Drop Duplicates

In [ ]:
df.drop_duplicates()

# Sorting data
Note: Ideal way for sorting is one column

In [ ]:
df.sort_values(by="ApplicantIncome", ascending = False)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
613,LP002317,Male,Yes,3+,Graduate,No,81000.0,0.0,360.0,360.0,0.0,Rural,N
612,LP002101,Male,Yes,0,Graduate,NaN,63337.0,0.0,490.0,180.0,1.0,Urban,Y
611,LP001585,NaN,Yes,3+,Graduate,No,51763.0,0.0,700.0,300.0,1.0,Urban,Y
610,LP001536,Male,Yes,3+,Graduate,No,39999.0,0.0,600.0,180.0,0.0,Semiurban,Y
609,LP001640,Male,Yes,0,Graduate,Yes,39147.0,4750.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,LP001644,NaN,Yes,0,Graduate,Yes,674.0,5296.0,168.0,360.0,1.0,Rural,Y
3,LP002603,Female,No,0,Graduate,No,645.0,3683.0,113.0,480.0,1.0,Rural,Y
2,LP002949,Female,No,3+,Graduate,NaN,416.0,41667.0,350.0,180.0,NaN,Urban,N
1,LP002502,Female,Yes,2,Not Graduate,NaN,210.0,2917.0,98.0,360.0,1.0,Semiurban,Y
0,LP001722,Male,Yes,0,Graduate,No,150.0,1800.0,135.0,360.0,1.0,Rural,N

In [ ]:
df.sort_values(by=["ApplicantIncome", "CoapplicantIncome"], ascending = [True, False])

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001722,Male,Yes,0,Graduate,No,150.0,1800.0,135.0,360.0,1.0,Rural,N
1,LP002502,Female,Yes,2,Not Graduate,NaN,210.0,2917.0,98.0,360.0,1.0,Semiurban,Y
2,LP002949,Female,No,3+,Graduate,NaN,416.0,41667.0,350.0,180.0,NaN,Urban,N
3,LP002603,Female,No,0,Graduate,No,645.0,3683.0,113.0,480.0,1.0,Rural,Y
4,LP001644,NaN,Yes,0,Graduate,Yes,674.0,5296.0,168.0,360.0,1.0,Rural,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP001640,Male,Yes,0,Graduate,Yes,39147.0,4750.0,120.0,360.0,1.0,Semiurban,Y
610,LP001536,Male,Yes,3+,Graduate,No,39999.0,0.0,600.0,180.0,0.0,Semiurban,Y
611,LP001585,NaN,Yes,3+,Graduate,No,51763.0,0.0,700.0,300.0,1.0,Urban,Y
612,LP002101,Male,Yes,0,Graduate,NaN,63337.0,0.0,490.0,180.0,1.0,Urban,Y
613,LP002317,Male,Yes,3+,Graduate,No,81000.0,0.0,360.0,360.0,0.0,Rural,N

# Value Counts
To count categorical values in a column

In [ ]:
df['Gender'].value_counts()

Gender
Male      489
Female    112
Name: count, dtype: int64

In [ ]:
df['Married'].value_counts()

Married
Yes    398
No     213
Name: count, dtype: int64

In [ ]:
df['Education'].value_counts()

Education
Graduate        480
Not Graduate    134
Name: count, dtype: int64

# Grouping data

In [ ]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001722,Male,Yes,0,Graduate,No,150.0,1800.0,135.0,360.0,1.0,Rural,N
1,LP002502,Female,Yes,2,Not Graduate,NaN,210.0,2917.0,98.0,360.0,1.0,Semiurban,Y
2,LP002949,Female,No,3+,Graduate,NaN,416.0,41667.0,350.0,180.0,NaN,Urban,N
3,LP002603,Female,No,0,Graduate,No,645.0,3683.0,113.0,480.0,1.0,Rural,Y
4,LP001644,NaN,Yes,0,Graduate,Yes,674.0,5296.0,168.0,360.0,1.0,Rural,Y

In [ ]:
df.groupby(by="Gender")["ApplicantIncome"].mean()

Gender
Female    4643.473214
Male      5446.460123
Name: ApplicantIncome, dtype: float64

In [ ]:
df.groupby(by="Education")["ApplicantIncome"].max()

Education
Graduate        81000.0
Not Graduate    18165.0
Name: ApplicantIncome, dtype: float64

In [ ]:
df.groupby(['Education'])['LoanAmount'].mean()

Education
Graduate        154.060215
Not Graduate    118.409449
Name: LoanAmount, dtype: float64

# Feature Engineering

In [ ]:
df[(df['ApplicantIncome'] > 2000) & (df['CoapplicantIncome'] > 5000)]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
50,LP002648,Male,Yes,0,Graduate,No,2130.0,6666.0,70.0,180.0,1.0,Semiurban,N
52,LP001431,Female,No,0,Graduate,No,2137.0,8980.0,137.0,360.0,0.0,Semiurban,Y
105,LP002297,Male,No,0,Graduate,No,2500.0,20000.0,103.0,360.0,1.0,Semiurban,Y
125,LP002138,Male,Yes,0,Graduate,No,2625.0,6250.0,187.0,360.0,1.0,Rural,Y
129,LP001843,Male,Yes,1,Not Graduate,No,2661.0,7101.0,279.0,180.0,1.0,Semiurban,Y
169,LP001806,Male,No,0,Graduate,No,2965.0,5701.0,155.0,60.0,1.0,Urban,Y
187,LP001028,Male,Yes,2,Graduate,No,3073.0,8106.0,200.0,360.0,1.0,Urban,Y
283,LP002408,Male,No,0,Graduate,No,3660.0,5064.0,187.0,360.0,1.0,Semiurban,Y
332,LP001488,Male,Yes,3+,Graduate,No,4000.0,7750.0,290.0,360.0,1.0,Semiurban,N
336,LP002618,Male,Yes,1,Not Graduate,No,4050.0,5302.0,138.0,360.0,NaN,Rural,N
345,LP001114,Male,No,0,Graduate,No,4166.0,7210.0,184.0,360.0,1.0,Urban,Y
381,LP001552,Male,Yes,0,Graduate,No,4583.0,5625.0,255.0,360.0,1.0,Semiurban,Y
409,LP002615,Male,Yes,2,Graduate,No,4865.0,5624.0,208.0,360.0,1.0,Semiurban,Y
446,LP001610,Male,Yes,3+,Graduate,No,5516.0,11300.0,495.0,360.0,0.0,Semiurban,N
455,LP001594,Male,Yes,0,Graduate,No,5708.0,5625.0,187.0,360.0,1.0,Semiurban,Y
470,LP001046,Male,Yes,1,Graduate,No,5955.0,5625.0,315.0,360.0,1.0,Urban,Y
487,LP001318,Male,Yes,2,Graduate,No,6250.0,5654.0,188.0,180.0,1.0,Semiurban,Y
497,LP001633,Male,Yes,1,Graduate,No,6400.0,7250.0,180.0,360.0,0.0,Urban,N
518,LP002424,Male,Yes,0,Graduate,No,7333.0,8333.0,175.0,300.0,NaN,Rural,Y
529,LP002693,Male,Yes,2,Graduate,Yes,7948.0,7166.0,480.0,360.0,1.0,Rural,Y
549,LP002201,Male,Yes,2,Graduate,Yes,9323.0,7873.0,380.0,300.0,1.0,Rural,Y
578,LP001020,Male,Yes,1,Graduate,No,12841.0,10968.0,349.0,360.0,1.0,Semiurban,N
601,LP002191,Male,Yes,0,Graduate,No,19730.0,5266.0,570.0,360.0,1.0,Rural,N
605,LP002624,Male,Yes,0,Graduate,No,20833.0,6667.0,480.0,360.0,NaN,Urban,Y

In [ ]:
df["Valuable"] = "No"
df.loc[(df['ApplicantIncome'] > 2000) & (df['CoapplicantIncome'] > 5000), "Valuable"] = "Yes"

In [ ]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Valuable
0,LP001722,Male,Yes,0,Graduate,No,150.0,1800.0,135.0,360.0,1.0,Rural,N,No
1,LP002502,Female,Yes,2,Not Graduate,NaN,210.0,2917.0,98.0,360.0,1.0,Semiurban,Y,No
2,LP002949,Female,No,3+,Graduate,NaN,416.0,41667.0,350.0,180.0,NaN,Urban,N,No
3,LP002603,Female,No,0,Graduate,No,645.0,3683.0,113.0,480.0,1.0,Rural,Y,No
4,LP001644,NaN,Yes,0,Graduate,Yes,674.0,5296.0,168.0,360.0,1.0,Rural,Y,No

In [ ]:
df.sort_values(by="Valuable", ascending = False)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Valuable
455,LP001594,Male,Yes,0,Graduate,No,5708.0,5625.0,187.0,360.0,1.0,Semiurban,Y,Yes
518,LP002424,Male,Yes,0,Graduate,No,7333.0,8333.0,175.0,300.0,NaN,Rural,Y,Yes
497,LP001633,Male,Yes,1,Graduate,No,6400.0,7250.0,180.0,360.0,0.0,Urban,N,Yes
125,LP002138,Male,Yes,0,Graduate,No,2625.0,6250.0,187.0,360.0,1.0,Rural,Y,Yes
529,LP002693,Male,Yes,2,Graduate,Yes,7948.0,7166.0,480.0,360.0,1.0,Rural,Y,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,LP001404,Female,Yes,0,Graduate,No,3167.0,2283.0,154.0,360.0,1.0,Semiurban,Y,No
210,LP001716,Male,Yes,0,Graduate,No,3173.0,3021.0,137.0,360.0,1.0,Urban,Y,No
211,LP002126,Male,Yes,3+,Not Graduate,No,3173.0,0.0,74.0,360.0,1.0,Semiurban,Y,No
212,LP002277,Female,No,0,Graduate,No,3180.0,0.0,71.0,360.0,0.0,Urban,N,No
613,LP002317,Male,Yes,3+,Graduate,No,81000.0,0.0,360.0,360.0,0.0,Rural,N,No

In [ ]:
df['Valuable'].value_counts()

Valuable
No     590
Yes     24
Name: count, dtype: int64

# Pivot Tables

Data transformation

In [ ]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Valuable
0,LP001722,Male,Yes,0,Graduate,No,150.0,1800.0,135.0,360.0,1.0,Rural,N,No
1,LP002502,Female,Yes,2,Not Graduate,NaN,210.0,2917.0,98.0,360.0,1.0,Semiurban,Y,No
2,LP002949,Female,No,3+,Graduate,NaN,416.0,41667.0,350.0,180.0,NaN,Urban,N,No
3,LP002603,Female,No,0,Graduate,No,645.0,3683.0,113.0,480.0,1.0,Rural,Y,No
4,LP001644,NaN,Yes,0,Graduate,Yes,674.0,5296.0,168.0,360.0,1.0,Rural,Y,No

In [ ]:
pd.pivot_table(data = df, index = ["Gender"], columns = ["Education"], values=["ApplicantIncome"])

          ApplicantIncome
Education        Graduate Not Graduate
Gender
Female        4646.467391  4629.700000
Male          5992.345745  3630.061947

# Merge Data set

In [ ]:
students = pd.DataFrame({
    'student_id' : [101,102,103,104],
    'name' : ['Ramesh', 'Suresh', 'Mahesh','Naresh'],
    'city' : ['Hyderabad', 'Vijayawada', 'Guntur', 'Nellore']
})

marks = pd.DataFrame({
    'student_id' : [101, 102, 102, 105],
    'subject' : ['Maths', 'Maths', 'Science', 'Maths'],
    'marks' : [85, 78, 88, 90]
})

In [ ]:
students.head()

   student_id    name        city
0         101  Ramesh   Hyderabad
1         102  Suresh  Vijayawada
2         103  Mahesh      Guntur
3         104  Naresh     Nellore

In [ ]:
marks.head()

   student_id  subject  marks
0         101    Maths     85
1         102    Maths     78
2         102  Science     88
3         105    Maths     90

In [ ]:
pd.merge(students, marks, on = "student_id", how = "inner")

   student_id    name        city  subject  marks
0         101  Ramesh   Hyderabad    Maths     85
1         102  Suresh  Vijayawada    Maths     78
2         102  Suresh  Vijayawada  Science     88

In [ ]:
merge_df = pd.merge(students, marks, on = "student_id", how = "outer")

Export data s

In [ ]:
merge_df.to_csv("/content/merged_data.csv")