<a href="https://colab.research.google.com/github/Venkat185/EXCEL-Dashboard/blob/main/Supermarket_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('/content/SUPERMARKET.xlsx')

In [5]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,COGS,Gross Margin Precentage,Gross Income,Rating
0,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.783,457.443,2019-01-01,10:39:00,Credit card,435.66,4.761905,21.783,6.9
1,530-90-9855,A,Yangon,Member,Male,Home and lifestyle,47.59,8,19.036,399.756,2019-01-01,14:47:00,Cash,380.72,4.761905,19.036,5.7
2,891-01-7034,B,Mandalay,Normal,Female,Electronic accessories,74.71,6,22.413,470.673,2019-01-01,19:07:00,Cash,448.26,4.761905,22.413,6.7
3,493-65-6248,C,Naypyitaw,Member,Female,Sports and travel,36.98,10,18.490,388.290,2019-01-01,19:48:00,Credit card,369.80,4.761905,18.490,7.0
4,556-97-7101,C,Naypyitaw,Normal,Female,Electronic accessories,63.22,2,6.322,132.762,2019-01-01,15:51:00,Cash,126.44,4.761905,6.322,8.5

In [6]:
df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,COGS,Gross Margin Precentage,Gross Income,Rating
995,642-61-4706,B,Mandalay,Member,Male,Food and beverages,93.40,2,9.340,196.140,2019-03-30,16:34:00,Cash,186.80,4.761905,9.340,5.5
996,115-38-7388,C,Naypyitaw,Member,Female,Fashion accessories,10.18,8,4.072,85.512,2019-03-30,12:51:00,Credit card,81.44,4.761905,4.072,9.5
997,291-55-6563,A,Yangon,Member,Female,Home and lifestyle,34.42,6,10.326,216.846,2019-03-30,12:45:00,Ewallet,206.52,4.761905,10.326,7.5
998,361-85-2571,A,Yangon,Normal,Female,Sports and travel,89.48,5,22.370,469.770,2019-03-30,10:18:00,Cash,447.40,4.761905,22.370,7.4
999,364-34-2972,C,Naypyitaw,Member,Male,Electronic accessories,96.82,3,14.523,304.983,2019-03-30,20:37:00,Cash,290.46,4.761905,14.523,6.7

In [7]:
df.shape

(1000, 17)

In [8]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'COGS', 'Gross Margin Precentage', 'Gross Income',
       'Rating'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   datetime64[ns]
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  COGS                     1000 non-null   float64
 14  Gross Margin Precentage  1000 non-null   float64
 15  Gross Income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(8)
memory usage: 132.9+ KB

In [10]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,Date,COGS,Gross Margin Precentage,Gross Income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,2019-02-14 00:05:45.600000,307.58738,4.761905e+00,15.379369,6.97270
min,10.080000,1.000000,0.508500,10.678500,2019-01-01 00:00:00,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,2019-01-24 00:00:00,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,2019-02-13 00:00:00,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,2019-03-08 00:00:00,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,2019-03-30 00:00:00,993.00000,4.761905e+00,49.650000,10.00000
std,26.494628,2.923431,11.708825,245.885335,NaN,234.17651,6.131498e-14,11.708825,1.71858

In [12]:
df.loc[0:1000 , "Product line": "Total"]

               Product line  Unit price  Quantity  Tax 5%    Total
0         Sports and travel       72.61         6  21.783  457.443
1        Home and lifestyle       47.59         8  19.036  399.756
2    Electronic accessories       74.71         6  22.413  470.673
3         Sports and travel       36.98        10  18.490  388.290
4    Electronic accessories       63.22         2   6.322  132.762
..                      ...         ...       ...     ...      ...
995      Food and beverages       93.40         2   9.340  196.140
996     Fashion accessories       10.18         8   4.072   85.512
997      Home and lifestyle       34.42         6  10.326  216.846
998       Sports and travel       89.48         5  22.370  469.770
999  Electronic accessories       96.82         3  14.523  304.983

[1000 rows x 5 columns]

In [13]:
df.iloc[0:1001, 5:10]

               Product line  Unit price  Quantity  Tax 5%    Total
0         Sports and travel       72.61         6  21.783  457.443
1        Home and lifestyle       47.59         8  19.036  399.756
2    Electronic accessories       74.71         6  22.413  470.673
3         Sports and travel       36.98        10  18.490  388.290
4    Electronic accessories       63.22         2   6.322  132.762
..                      ...         ...       ...     ...      ...
995      Food and beverages       93.40         2   9.340  196.140
996     Fashion accessories       10.18         8   4.072   85.512
997      Home and lifestyle       34.42         6  10.326  216.846
998       Sports and travel       89.48         5  22.370  469.770
999  Electronic accessories       96.82         3  14.523  304.983

[1000 rows x 5 columns]

In [14]:
df.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
COGS                       0
Gross Margin Precentage    0
Gross Income               0
Rating                     0
dtype: int64

In [15]:
df['Rating'].astype('int64')

0      6
1      5
2      6
3      7
4      8
      ..
995    5
996    9
997    7
998    7
999    6
Name: Rating, Length: 1000, dtype: int64

In [16]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,COGS,Gross Margin Precentage,Gross Income,Rating
0,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.783,457.443,2019-01-01,10:39:00,Credit card,435.66,4.761905,21.783,6.9
1,530-90-9855,A,Yangon,Member,Male,Home and lifestyle,47.59,8,19.036,399.756,2019-01-01,14:47:00,Cash,380.72,4.761905,19.036,5.7
2,891-01-7034,B,Mandalay,Normal,Female,Electronic accessories,74.71,6,22.413,470.673,2019-01-01,19:07:00,Cash,448.26,4.761905,22.413,6.7
3,493-65-6248,C,Naypyitaw,Member,Female,Sports and travel,36.98,10,18.490,388.290,2019-01-01,19:48:00,Credit card,369.80,4.761905,18.490,7.0
4,556-97-7101,C,Naypyitaw,Normal,Female,Electronic accessories,63.22,2,6.322,132.762,2019-01-01,15:51:00,Cash,126.44,4.761905,6.322,8.5

In [17]:
df.sort_values(by = 'Unit price', ascending=False)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,COGS,Gross Margin Precentage,Gross Income,Rating
761,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.9820,944.6220,2019-03-09,17:26:00,Credit card,899.64,4.761905,44.9820,4.2
241,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,2019-01-23,10:33:00,Cash,699.72,4.761905,34.9860,6.1
938,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.9760,629.4960,2019-03-24,13:33:00,Ewallet,599.52,4.761905,29.9760,7.1
630,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.9890,209.7690,2019-02-26,11:48:00,Ewallet,199.78,4.761905,9.9890,7.1
699,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.9490,628.9290,2019-03-04,15:02:00,Ewallet,598.98,4.761905,29.9490,8.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,115-38-7388,C,Naypyitaw,Member,Female,Fashion accessories,10.18,8,4.0720,85.5120,2019-03-30,12:51:00,Credit card,81.44,4.761905,4.0720,9.5
436,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,10.17,1,0.5085,10.6785,2019-02-07,14:15:00,Cash,10.17,4.761905,0.5085,5.9
606,516-77-6464,C,Naypyitaw,Member,Female,Health and beauty,10.16,5,2.5400,53.3400,2019-02-24,13:08:00,Ewallet,50.80,4.761905,2.5400,4.1
780,239-48-4278,A,Yangon,Member,Male,Food and beverages,10.13,7,3.5455,74.4555,2019-03-10,19:35:00,Ewallet,70.91,4.761905,3.5455,8.3
980,333-23-2632,A,Yangon,Member,Male,Health and beauty,10.08,7,3.5280,74.0880,2019-03-28,20:14:00,Cash,70.56,4.761905,3.5280,4.2

In [18]:
df.sort_values(by = 'Unit price', ascending=True)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,COGS,Gross Margin Precentage,Gross Income,Rating
980,333-23-2632,A,Yangon,Member,Male,Health and beauty,10.08,7,3.5280,74.0880,2019-03-28,20:14:00,Cash,70.56,4.761905,3.5280,4.2
780,239-48-4278,A,Yangon,Member,Male,Food and beverages,10.13,7,3.5455,74.4555,2019-03-10,19:35:00,Ewallet,70.91,4.761905,3.5455,8.3
606,516-77-6464,C,Naypyitaw,Member,Female,Health and beauty,10.16,5,2.5400,53.3400,2019-02-24,13:08:00,Ewallet,50.80,4.761905,2.5400,4.1
436,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,10.17,1,0.5085,10.6785,2019-02-07,14:15:00,Cash,10.17,4.761905,0.5085,5.9
996,115-38-7388,C,Naypyitaw,Member,Female,Fashion accessories,10.18,8,4.0720,85.5120,2019-03-30,12:51:00,Credit card,81.44,4.761905,4.0720,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.9490,628.9290,2019-03-04,15:02:00,Ewallet,598.98,4.761905,29.9490,8.5
630,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.9890,209.7690,2019-02-26,11:48:00,Ewallet,199.78,4.761905,9.9890,7.1
938,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.9760,629.4960,2019-03-24,13:33:00,Ewallet,599.52,4.761905,29.9760,7.1
241,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,2019-01-23,10:33:00,Cash,699.72,4.761905,34.9860,6.1
761,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.9820,944.6220,2019-03-09,17:26:00,Credit card,899.64,4.761905,44.9820,4.2

In [19]:
df.sort_values(by = ['Unit price', 'Total' ], ascending= [True, False])

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,COGS,Gross Margin Precentage,Gross Income,Rating
980,333-23-2632,A,Yangon,Member,Male,Health and beauty,10.08,7,3.5280,74.0880,2019-03-28,20:14:00,Cash,70.56,4.761905,3.5280,4.2
780,239-48-4278,A,Yangon,Member,Male,Food and beverages,10.13,7,3.5455,74.4555,2019-03-10,19:35:00,Ewallet,70.91,4.761905,3.5455,8.3
606,516-77-6464,C,Naypyitaw,Member,Female,Health and beauty,10.16,5,2.5400,53.3400,2019-02-24,13:08:00,Ewallet,50.80,4.761905,2.5400,4.1
436,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,10.17,1,0.5085,10.6785,2019-02-07,14:15:00,Cash,10.17,4.761905,0.5085,5.9
996,115-38-7388,C,Naypyitaw,Member,Female,Fashion accessories,10.18,8,4.0720,85.5120,2019-03-30,12:51:00,Credit card,81.44,4.761905,4.0720,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.9490,628.9290,2019-03-04,15:02:00,Ewallet,598.98,4.761905,29.9490,8.5
630,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.9890,209.7690,2019-02-26,11:48:00,Ewallet,199.78,4.761905,9.9890,7.1
938,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.9760,629.4960,2019-03-24,13:33:00,Ewallet,599.52,4.761905,29.9760,7.1
761,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.9820,944.6220,2019-03-09,17:26:00,Credit card,899.64,4.761905,44.9820,4.2
241,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,2019-01-23,10:33:00,Cash,699.72,4.761905,34.9860,6.1

In [21]:
df.value_counts('Gender')

Gender
Female    501
Male      499
Name: count, dtype: int64

In [22]:
df['Product line'].value_counts()

Product line
Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: count, dtype: int64

In [23]:
df['Customer type'].value_counts()

Customer type
Member    501
Normal    499
Name: count, dtype: int64

In [24]:
df['City'].value_counts()

City
Yangon       340
Mandalay     332
Naypyitaw    328
Name: count, dtype: int64

In [25]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,COGS,Gross Margin Precentage,Gross Income,Rating
0,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.783,457.443,2019-01-01,10:39:00,Credit card,435.66,4.761905,21.783,6.9
1,530-90-9855,A,Yangon,Member,Male,Home and lifestyle,47.59,8,19.036,399.756,2019-01-01,14:47:00,Cash,380.72,4.761905,19.036,5.7
2,891-01-7034,B,Mandalay,Normal,Female,Electronic accessories,74.71,6,22.413,470.673,2019-01-01,19:07:00,Cash,448.26,4.761905,22.413,6.7
3,493-65-6248,C,Naypyitaw,Member,Female,Sports and travel,36.98,10,18.490,388.290,2019-01-01,19:48:00,Credit card,369.80,4.761905,18.490,7.0
4,556-97-7101,C,Naypyitaw,Normal,Female,Electronic accessories,63.22,2,6.322,132.762,2019-01-01,15:51:00,Cash,126.44,4.761905,6.322,8.5

In [26]:
df.groupby(['Gender'])['Total'].sum()

Gender
Female    167882.925
Male      155083.824
Name: Total, dtype: float64

In [27]:
df.groupby(['Gender'])['Total'].max()

Gender
Female    1042.65
Male      1039.29
Name: Total, dtype: float64

In [28]:
df.groupby(['Gender'])['Total'].min()

Gender
Female    12.6945
Male      10.6785
Name: Total, dtype: float64

In [29]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,COGS,Gross Margin Precentage,Gross Income,Rating
0,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.783,457.443,2019-01-01,10:39:00,Credit card,435.66,4.761905,21.783,6.9
1,530-90-9855,A,Yangon,Member,Male,Home and lifestyle,47.59,8,19.036,399.756,2019-01-01,14:47:00,Cash,380.72,4.761905,19.036,5.7
2,891-01-7034,B,Mandalay,Normal,Female,Electronic accessories,74.71,6,22.413,470.673,2019-01-01,19:07:00,Cash,448.26,4.761905,22.413,6.7
3,493-65-6248,C,Naypyitaw,Member,Female,Sports and travel,36.98,10,18.490,388.290,2019-01-01,19:48:00,Credit card,369.80,4.761905,18.490,7.0
4,556-97-7101,C,Naypyitaw,Normal,Female,Electronic accessories,63.22,2,6.322,132.762,2019-01-01,15:51:00,Cash,126.44,4.761905,6.322,8.5

In [31]:
df[(df['Total'] > 300) & (df['Payment'] == "Cash")]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,COGS,Gross Margin Precentage,Gross Income,Rating
1,530-90-9855,A,Yangon,Member,Male,Home and lifestyle,47.59,8,19.0360,399.7560,2019-01-01,14:47:00,Cash,380.72,4.761905,19.0360,5.7
2,891-01-7034,B,Mandalay,Normal,Female,Electronic accessories,74.71,6,22.4130,470.6730,2019-01-01,19:07:00,Cash,448.26,4.761905,22.4130,6.7
6,651-88-7328,A,Yangon,Normal,Female,Fashion accessories,65.74,9,29.5830,621.2430,2019-01-01,13:55:00,Cash,591.66,4.761905,29.5830,7.7
14,244-08-0162,B,Mandalay,Normal,Female,Health and beauty,34.21,10,17.1050,359.2050,2019-01-02,13:00:00,Cash,342.10,4.761905,17.1050,5.1
15,198-84-7132,B,Mandalay,Member,Male,Fashion accessories,40.61,9,18.2745,383.7645,2019-01-02,13:40:00,Cash,365.49,4.761905,18.2745,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,731-59-7531,B,Mandalay,Member,Male,Health and beauty,72.57,8,29.0280,609.5880,2019-03-30,17:58:00,Cash,580.56,4.761905,29.0280,4.6
992,676-39-6028,A,Yangon,Member,Female,Electronic accessories,64.44,5,16.1100,338.3100,2019-03-30,17:04:00,Cash,322.20,4.761905,16.1100,6.6
994,778-89-7974,C,Naypyitaw,Normal,Male,Health and beauty,70.21,6,21.0630,442.3230,2019-03-30,14:58:00,Cash,421.26,4.761905,21.0630,7.4
998,361-85-2571,A,Yangon,Normal,Female,Sports and travel,89.48,5,22.3700,469.7700,2019-03-30,10:18:00,Cash,447.40,4.761905,22.3700,7.4
999,364-34-2972,C,Naypyitaw,Member,Male,Electronic accessories,96.82,3,14.5230,304.9830,2019-03-30,20:37:00,Cash,290.46,4.761905,14.5230,6.7

In [32]:
df["Valuable"] = "NO"
df.loc[(df["Total"] > 400) & (df["Payment"] == "Credit card"), "Valuable"] = "YES"

In [33]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,COGS,Gross Margin Precentage,Gross Income,Rating,Valuable
0,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.783,457.443,2019-01-01,10:39:00,Credit card,435.66,4.761905,21.783,6.9,YES
1,530-90-9855,A,Yangon,Member,Male,Home and lifestyle,47.59,8,19.036,399.756,2019-01-01,14:47:00,Cash,380.72,4.761905,19.036,5.7,NO
2,891-01-7034,B,Mandalay,Normal,Female,Electronic accessories,74.71,6,22.413,470.673,2019-01-01,19:07:00,Cash,448.26,4.761905,22.413,6.7,NO
3,493-65-6248,C,Naypyitaw,Member,Female,Sports and travel,36.98,10,18.490,388.290,2019-01-01,19:48:00,Credit card,369.80,4.761905,18.490,7.0,NO
4,556-97-7101,C,Naypyitaw,Normal,Female,Electronic accessories,63.22,2,6.322,132.762,2019-01-01,15:51:00,Cash,126.44,4.761905,6.322,8.5,NO

In [34]:
df['Valuable'].value_counts()

Valuable
NO     900
YES    100
Name: count, dtype: int64

In [35]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,COGS,Gross Margin Precentage,Gross Income,Rating,Valuable
0,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.783,457.443,2019-01-01,10:39:00,Credit card,435.66,4.761905,21.783,6.9,YES
1,530-90-9855,A,Yangon,Member,Male,Home and lifestyle,47.59,8,19.036,399.756,2019-01-01,14:47:00,Cash,380.72,4.761905,19.036,5.7,NO
2,891-01-7034,B,Mandalay,Normal,Female,Electronic accessories,74.71,6,22.413,470.673,2019-01-01,19:07:00,Cash,448.26,4.761905,22.413,6.7,NO
3,493-65-6248,C,Naypyitaw,Member,Female,Sports and travel,36.98,10,18.490,388.290,2019-01-01,19:48:00,Credit card,369.80,4.761905,18.490,7.0,NO
4,556-97-7101,C,Naypyitaw,Normal,Female,Electronic accessories,63.22,2,6.322,132.762,2019-01-01,15:51:00,Cash,126.44,4.761905,6.322,8.5,NO

In [36]:
pd.pivot_table(data = df, index = 'Gender', columns = "Product line",  values = 'Quantity', aggfunc = 'sum')

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,488,530,514,343,498,496
Male,483,372,438,511,413,424